<p>Welcome <%= user.name %></p>
<p>your email id is <%= user.email %></p>
<p>your mobile number is <%= user.number %></p>
<div>
  <a href="/myaccount/update/<%= user.id %>">change details</button>
</div>


        

